*{
  box-sizing: border-box;
}

ul{
  list-style: none;
  text-align: center;
}
main{
  background-color: #f2f1e8;
}
a:hover{
  color: #967343;
}
a:link{
  color: #968772;
}
.nav-img{
  float: left;
  background-image: url("./images/optimized/bent-creek-logo.png");
}
.header-content{
  text-align: center;
}
.main-heading{
  font-size: 40px;
  margin: 0;
  padding-top: 35px;
}
.sub-heading{
  font-size: 30px;
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
}
.description{
  color: white;
  background-color: #6e5a40;
  position: absolute;
  bottom: 20px;
  padding: 13px;
}

.nav-items{
  color: #131511;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.top-row{
  display: flex;
  height: 400px;
}

.bottom-row{
  display: flex;
  height: 200px;
}

.one{
  background-image: url("./images/optimized/product-1.jpg");
  flex: 3;
}
.two{
  background-image: url("./images/optimized/product-2.jpg");
  flex: 1;
}
.three{
  background-image: url("./images/optimized/product-3.jpg");
  flex: 1;
}
.four{
  background-image: url("./images/optimized/product-4.jpg");
  flex: 1;
}
.five{
  background-image: url("./images/optimized/product-5.jpg");
  flex: 1;
}
.six{
  background-image: url("./images/optimized/product-6.jpg");
  flex: 2;

}
.seven{
  background-image: url("./images/optimized/product-7.jpg");
  flex:1;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.relative {
    position: relative;
}

footer{
  background-color: #6e5a40;
  color: #f2f1e8;
  padding: 20px 0px 20px 10px;
}
